@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-image: url('./images/blob-scene-haikei.svg');
    aspect-ratio: 960/300;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;  
}

.primary-layout {
    margin-top: 0%;
    margin-bottom: 3%;
    display: grid;
    justify-content: center;
    text-align: center;
    color: black;
    position: relative; 
    
}

.primary-layout * {
    padding: 18px;
}

.primary-layout p {
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 40px;
}

.small-social-media {
    padding: 0px 20px 3.5px 0px;
    vertical-align: middle;
}

footer {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Blobs SVG background image via https://haikei.app/ */

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
  }

.blob-motion {
    position: absolute;
    transform: translateY(-25%);
    z-index: 0;
}

.blob-content {
    z-index: 1;
}